@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background: #171717;
  color: white;
  display: grid;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
header {
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  min-width: 100%;
  padding: 20px 0 20px 0;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 999;
}

header h1 {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgba(34,165,207,1), 0 0 30px rgba(34,165,207,1), 0 0 40px rgba(34,165,207,1), 0 0 55px rgba(34,165,207,1), 0 0 75px rgba(34,165,207,1);
}

header span {
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgba(34,165,207,1), 0 -10px 20px rgba(34,165,207,1), 0 -18px 40px rgba(34,165,207,1);
}
main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  margin-top: 100px;
}

#emptyCards {
  display: grid;
  display: none;
  grid-template-columns: 1fr;
  background-color: rgba(34,165,207,0.1);
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

#contenedorSearch {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(34,165,207,0.1);
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

#frmSearch {
  margin-bottom: 10px;
}

#frmSearch label{
  display: flex;
  justify-content: center;
  background-color: rgba(34,165,207,0.2);
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 8px;
  color: rgba(34,165,207,0.8);
}

#frmSearch input[type="text"]{
  color: white;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(34,165,207,0.8);
  background-color: transparent;
  outline: 0;
  transition: outline 100ms ease-in-out;
}

#frmSearch input[type="text"]:focus{
  color: rgba(34,165,207,0.8);
  outline: 4px dashed rgba(34,165,207,1);
}

#frmSearch input[type="text"]::placeholder{
  text-align: center;
  color: rgba(34,165,207,0.2);
}

.searchBox button {
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: rgba(34,165,207,0.8);
  background-color: rgba(34,165,207,0.2);
  padding: 20px;
  display: flex;
  min-width: 200px;
  transition: all 100ms ease-in-out;
}

.searchBox button:hover {
  background-color: rgba(34,165,207,1);
  color: white;
  transform: scale(1.02, 1.02);
}

#contenedorRecientes {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex: 1;
  background-color: rgba(34,165,207,0.1);
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

#contenedorRecientes h3 {
  color: rgba(34,165,207,0.8);
  margin-bottom: 6px;
}

#contenedorRecientes ul {
  list-style: none;
}
a,
a:visited {
  background:  rgba(34,165,207,0.1);
  padding: 0 2px;
  margin: 1px;
  border-radius: 3px;
  color:  rgba(34,165,207,0.6);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color:  rgba(34,165,207,1);
  transition: all 300ms ease-in-out;
}

.emptyRecientesErr {
  display: none;
}

#wrapperResults{
  padding: 10px;
  background-color: rgba(34,165,207,0.1);
}

#wrapperResults h1 {
  color: rgba(34,165,207,0.8);
}

#wrapperResults em {
  margin-bottom: 10px;
}
.results {
  display: grid;
  gap: 20px;
  min-height: 100vh;
  background-color: rgba(34,165,207,0.1);
  padding: 20px;

}

div.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  background: rgba(34,165,207,0.1);
  transition: all 300ms ease-in-out;
  max-height: 300px;
}

div.card:nth-child(odd):hover {
  transform: scale(1.05, 1.05);
}
div.card:nth-child(even):hover {
  transform: scale(1.05, 1.05);
}

.card img {
  display: flex;
  flex:1;
  width: 100%;
  height: 100%;
}

.tituloCard {
  display: flex;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  text-overflow: ellipsis;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: rgba(34,165,207,0.7);
}

ul li.wrapperReciente{
  transition: all 100ms ease-in-out;
}

ul li.wrapperReciente:nth-child(odd):hover{
  transform: scale(1.4, 1.4) rotate(-5deg);
  background-color: white;
}
ul li.wrapperReciente:nth-child(even):hover{
  transform: scale(1.4, 1.4) rotate(5deg);
  background-color: white;
}



#scrollInit {
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 100px;
  background-color: rgba(34,165,207,0.2);
  width: 60px;
  height: 60px;
  transition: all 300ms ease-in-out;
}

#scrollInit:hover {
  background-color: rgba(34,165,207,1);
}

#scrollInit figure  {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}
#scrollInit figure img{
  width: 60px;
  height: 40px;
  filter: invert(100%);
}

@media (min-width: 600px) {
  .results{
    display: grid;
    grid-template-columns: repeat( 1, 1fr);
  }
  main {
    gap: 20px;
    display: flex;
    flex:1;
  }
  .searchBox {
    display: flex;
    /* flex:1; */
    min-width: 244px;
    order: 0;
  }
  .results{
    order: 2;
  }
  #wrapperRecientes {
    display: flex;
    min-width: 230px;
    order: 3;
  }

  #wrapperResults {
    display: grid;
    flex: 1;
    order: 2;
  }
  #contenedorSearch {
    position: fixed;
  }
  
  #contenedorRecientes {
    position: fixed;
  }

}

.more {
  text-align: center;
}

@media (min-width: 750px) {
  .results{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
  }
}

@media (min-width: 900px) {
  .results{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
  }
}

@media (min-width: 1100px) {
  .results{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
  }
}

@media (min-width: 1300px) {
  .results{
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
  }
}

@media (min-width: 1600px) {
  .results{
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
  }
}